# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
.venv/
.env
*.log
*.sqlite3
*.db
instance/
config.py

# Pytest
.cache/
coverage/
.tox/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environment
.env/
.venv/
ENV/
env.bak/
venv.bak/

# Angular
node_modules/
dist/
out-tsc/
.tmp/
coverage/
package-lock.json
yarn.lock
npm-debug.log*

# Angular Environment Files
src/environments/environment*.ts

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Other
.gitignore
